<html>
    <body>
        <p>{},</p>

            <p>My name is {}, and I’m a {} studying at the Stephen M. Ross School of Business. I’m reaching out to invite you to <b>V1 Startup Fair</b> on <b>November 16</b> – we’d love to have {} at our virtual event!</p>

            <p>We have over 600 applicants from Michigan and other top schools --- when we hosted this last year, we facilitated <b>nearly 100 interviews and 25+ internship and full-time offers</b>.</p> 

            <p>The only time commitment on your end is <b>2 hours</b> to host a virtual booth on November 16th --- we'll handle all the logistics and help flag highly-qualified candidates who are also excited about your company. </p>

            <p><b>Sponsorship is $200</b> to help us cover the costs of the event; anything left over goes toward promoting entrepreneurship for students here at Michigan.</p>
            
            <p>I would love to set up a call to answer any questions or talk through the prospectus (attached). Thank you!</p>

        <p>Best,<br>{}</p>
    </body>
</html>
