<html>
    <body>
        <p>Hello {},</p>

            <p>My name is {}, and I’m a sophomore at the University of Michigan. I’m reaching out to invite you to <b>V1 Startup Fair</b> on <b>November 16</b> – we’d love {} to be a part of it!</p>

            <p>Last year, we connected over <b>200</b> students with <b>17</b> high-growth startups from pre-seed to Series C, with over <b>25</b> offers extended. This year, we’re looking to connect even more students with great companies like yours.</p>

            <p>{} will be able to recruit top <b>engineers, designers,</b> and <b>product managers</b> for intern/new grad positions through virtual career booths, and we’ll be <b>setting up 1:1s</b> with the best candidates for you.</p>

            <p>We’re looking to finalize companies attending by <b>November 1</b>. Attached is our prospectus with more info at <a href='https://startupfair.v1michigan.com'>https://startupfair.v1michigan.com</a>. Please reach out if you have any questions. Looking forward to hearing from you soon!</p>

        <p>Best,<br>{}</p>
    </body>
</html>